:root {
  --max-desktop-width: 1440px;
  --mobile-max-width: 700px;
  --border-radius: 12px;

  --text-color-primary: #1C1C21;
  --text-color-secondary: #88888C;
  --white-color-primary: #FFFFFF;
  --white-color-secondary: #F5F5F7;

  --orange-color-120: #E87928;
  --orange-color-100: #FF8B37;
  --orange-color-80: #FFAC70;
  --orange-color-5: #FFF3EB;

  --primary-color-120: var(--orange-color-120);
  --primary-color-100: var(--orange-color-100);
  --primary-color-80: var(--orange-color-80);
  --primary-color-5: var(--orange-color-5);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--white-color-primary);
}

body {
  color: var(--text-color-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
}

h1 {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 4rem;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.3rem;
}

/* --mobile-max-width */
@media (max-width: 700px) {
  h1 {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  h2 {
    font-size: 1.125rem;
    line-height: 1.3rem;
  }
}